<h2>Street Meters</h2>

<table>
    {{#each showStreet}}
    <tr>
        
        <td>{{street_number}}</td>
        <td>{{street_id}}</td>
        <td>{{balance}}</td>
        
    </tr>
    {{/each}}
</table>